.project-card {
    aspect-ratio: 6;
    display: flex
}

.project-description {
    width: 61vmin;
}

.project-title {
    width: 60vmin;
}

.project-links {
    flex-direction: column;
    width: 15vmin;
    position: absolute;
    right: 0;
    display: flex;
    border-left: 1px var(--separator-color) solid;
    height: 80%;
    justify-content: space-around;
    padding: 1vmin;
}

.project-links a {
    background-color: var(--text-container-bg);
    margin: .25vmin;
    padding: .25vmin;
    text-decoration: none;
    color: var(--text-colour);
    border-radius: .7vmin;
    box-shadow: none;
    text-align: center;
    align-content: center;
    height: inherit;
}