*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: 0.5s;
    color: #fff;
}
body{
    background-image: url(Images/background_0.jpg);
    background-position: center;
    background-size: cover;

}
.container{
    width: 100vw;
    height: 95vh;
    padding-top: 5vh;
    position: relative;
    transition: 0.5s ease;
}
.navbar{
    top:5vh;
    height: 5vh;
    display: inline-block;
    align-items: center;
    background: rgba(29,33,61,0.5);
    overflow: hidden;
}
.logo{
    align-items: center;
}
.logo img{
    color: #fff;
    position: relative;
    z-index: 10;
    left: 10vw;
    margin: 1vh auto;
    width: 3vh;
    transform: translate(-50%);
    cursor: pointer;
    transition: 0.2s;
}
.logo:hover{
    color:#aaa;
}
nav{
    transform: translateY(-50%);
    position: relative;
    height: 100%;
    width: 100vw;
}
nav ul li{
    list-style: none;
    display: inline-block;
    width:100px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transform:translateY(-50%);
    cursor: pointer;
    text-align: center;
}
nav ul li:hover{
    color:#aaa;
    transition: 0.3s;
}
.sidebar{
    width: 10vw;
    height: 100vh;
    background: rgba(29,31,58,0.5);
    position: absolute;
    top: 0px;
    left: 5vw;
    overflow: hidden;
}
#subsections{
    top:0;
    display: block;
}
.social-links{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    transform: translateY(50%);
}
.social-links ul{
    transform: translateY(-50%);
}
.social-links ul li{
    list-style: none;
    border: 15px solid transparent;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.social-links ul li:hover{
    color: #aaa;
    transition: 0.3s;
}
.info-icon{
    width:20px;
    position: absolute;
    left:50%;
    bottom:30px;
    cursor:pointer;
    transform: translateX(-50%);
}
.msg-container{
    transition: 0.5s;
    position: absolute;
    transform: 10%;
    top: 10vh;
    left: 15vw;
    width: 75vw;
    height: 75vh;
    overflow: hidden;
    margin: 5vh 5vw;
}
#panes{
    display: inline-flex;
}
.subpane{
    display: block;
}
.msg-col{
    width: 75vw;
    height: 75vh;
}
.msg-col h1{
    display: flex;
    text-align: center;
    color: #fff;
    font-size: 80px;
    font-weight: 100;
}
.msg-col p{
    color: #ddd;
    font-size: 15px;
    line-height: 25px;
}
.msg-col a{
    display: inline-block;
    text-decoration: none;
    color: #444;
    background: #fff;
    font-size: 15px;
    padding: 10px 35px;
    border-radius: 30px;
    margin-top: 25px;
}

/*The CSS for the Home page that is called when the logo is clicked*/
.Home .Title{
    align-items: center;
    display: flex;
    margin-left: 37.5vw;
    margin-top: 15vh;
    transform: translate(-50%,-50%);
}
.Home .Title *{
    font-family: "Courier New";
}
.Home .Title h2{
    font-size: 200px;
    font-weight: 100;
}
.Home .statement{
    display: block;
    align-items: center;
}
.Home .statement p{

    width: 20vw;
}