:root {
    --background: #9bafb0;
    --main-cntnr-bg: #d3ddde;
    --text-container-bg: #dce5e5;
    --text-color-dark: #00302f;
    --text-color-header: #002221;
    --text-color-light: #b3e6e5;
    --separator-color: #98c0c3;

    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 2vmin;
}


body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--background);
    display: flex;
    justify-content: center;
}

.main-content {
    background: var(--main-cntnr-bg);
    position: relative;
    border-radius: 1vmin;
    min-width: 98vmin;
    max-width: 98vmin;
    margin: 1vmin;
    box-shadow: 0 0 1vmin rgba(0, 48, 47, 0.5)
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header-text {
    color: var(--text-color-header);
    padding: 2vmin;
    text-transform: uppercase;
}

.heading-text {
    color: var(--text-color-header);
    cursor: default;
    margin: 0 5vmin;
    text-transform: uppercase;
}

.header-icon {
    height: 4vmin;
    color: var(--text-color-dark)
}

.overview-section-container {
    display: flex;
}

.overview-bullet-points {
    width: 100%;
    height: 100%;
    align-self: center;
}

.overview-bullet-point {
    background: var(--text-container-bg);
    border-radius: 1vmin;
    color: var(--text-color-dark);
    padding: 1vmin;
}

.point-1 {
    margin: 0 3vmin 3vmin 3vmin;
}

.point-2 {
    margin: 0 3vmin;
}

.point-3 {
    margin: 3vmin;
}

.overview-image-container {
    align-self: flex-end;
    width: 40%;
}

.overview-image {
    width: 100%;
    height: 100%;
}

.separator {
    height: .5vmin;
    background: var(--separator-color);
    margin: 0 0 1vmin 0;
}

.resume-section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume-button {
    background: var(--text-container-bg);
    color: var(--text-color-dark);

    border-radius: 1vmin;
    padding: 1vmin 2vmin;
    cursor: pointer;
    margin: 2vmin 5vmin;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 0;
}

.hover-highlight {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 1vmin rgba(0, 48, 47, 0.2);
}

.hover-highlight:hover {
    box-shadow: 0 0 1vmin rgba(0, 48, 47, 0.6);
    filter: saturate(1.4);
}

.resume-icon {
    height: 3vmin;
}

.footer {
    display: flex;
    font-size: 1.5vmin;
    align-items: center;
    justify-content: space-between;
    background: var(--separator-color);
    border-radius: 0 0 1vmin 1vmin;
}

.footer-text {
    margin: 0 2vmin;
}

.socials {
    display: flex;
    margin: 0 3vmin
}

.social-icon {
    height: 3vmin;
    padding: 1vmin;
    color: var(--text-color-dark);
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 1vmin rgba(0, 48, 47, 0.0);
    border-radius: 50%;
}

.social-icon:hover {
    box-shadow: 0 0 1vmin rgba(0, 48, 47, 0.5);
}

.projects-container {
    display: flex;
    margin: 2vmin;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.project-card {
    background: var(--text-container-bg);
    color: var(--text-color-dark);
    border-radius: 1vmin;
    width: 30vmin;
    aspect-ratio: 4 / 3;
    padding: .5vmin;
    margin: 2vmin;
    position: relative;
}

.personal-project-card {
    background: var(--text-container-bg);
    color: var(--text-color-dark);
    border-radius: 1vmin;
    width: 25vmin;
    aspect-ratio: 4 / 3;
    padding: .5vmin;
    margin: 1vmin;
    position: relative;
}

.project-title {
    position: absolute;
    top: 0;
    padding: .5vmin;
    margin: 0;
}

.project-description {
    position: absolute;
    bottom: 0;
    margin: 0;
}

.automate-dv-bg {
    background-image: url('resources/package.svg') !important;
    background-size: 9vmin !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.bdd-bg {
    background-image: url('resources/bdd.svg') !important;
    background-size: 17vmin !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}


.gas-station-bg {
    background-image: url('resources/flow_chart.svg') !important;
    background-size: 9vmin !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.genai-bg {
    background-image: url('resources/genai.svg') !important;
    background-size: 12vmin !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.slabsprak-bg {
    background-image: url('resources/slabsprak.svg') !important;
    background-size: 16vmin !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.boids-bg {
    background-image: url('resources/boids.svg') !important;
    background-size: 14vmin !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.bingo-bg {
    background-image: url('resources/bingo.svg') !important;
    background-size: 10vmin !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}