.project-image {
    position: absolute;
    right: 10%;
    top: 20%;
    height: 60%;
    border-radius: 1vmin;
}
.project-title {
    width: 70%;
}

.project-description {
    width: 70%;
    bottom: 1vmin;
}
