body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #adb8b9;
    display: flex;
    justify-content: center;
}

.main-content {
    background: #D3DDDE;
    position: relative;
    ;
    border-radius: 2vmin;
    min-width: 98vmin;
    max-width: 70vmax;
    margin: 1vmin;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    color: #394041;
    padding: 20px;
}

.header-icon {
    height: 40px;
}

.overview-section-container {
    display: flex;
}

.overview-bullet-points {
    width: 100%;
    height: 100%;
    align-self: center;
}

.overview-bullet-point {
    background: #dce5e5ff;
    border-radius: 5px;
    color: #727272;
    padding: 15px;
    font-size: 2rem;
}

.point-1 {
    margin: 0 20px 20px 20px;
}

.point-2 {
    background: #dce5e5ff;
    border-radius: 5px;
    color: rgb(114, 114, 114);
    margin: 0 20px;
    padding: 15px;
}

.point-3 {
    background: #dce5e5ff;
    border-radius: 5px;
    color: rgb(114, 114, 114);
    margin: 20px;
    padding: 15px;
}

.overview-image-container {
    align-self: flex-end;
    width: 40%;
}

.overview-image {
    width: 100%;
    height: 100%;
}

.separator {
    width: 100%;
    height: .5vmin;
    background: #85b5b9;
    margin: 0 0 20px 0;
}