.project-image {
    position: absolute;
    right: 5%;
    top: 20%;
    height: 60%;
    border-radius: 1vmin;
}

.project-title {
    width: 80%;
}

.project-description {
    width: 80%;
    bottom: 1vmin;
}

.flow-chart-container {
    display: flex;
    justify-content: center;
}

.flow-chart {
    max-width: 90vmin;
    height: 60vmin;
    width: 60vmin;
}